{% extends "base.html" %}
{% block contenido %}
    {% if error == 0 %}
    <table>
        <!-- Fila de la cabecera -->
        <tr>
          <th>Departamento</th> <!-- Celda cabecera de la columna 1 -->
          <th>Modificar</th>
          <th>Eliminar</th>
        </tr>
        <!-- Primera fila -->
        
        {% for departamento in departamentos %}
        <tr>
            <td><a style="color: black;" href="">{{ departamento.nombre }}</a></td> <!-- Primera celda de la primera fila -->
            <td><a style="color: black;" href="/admin/paises/departamento/{{departamento.id}}/change/">Modificar</a></td>
            <td><a style="color: black;" href="/admin/paises/departamento/{{departamento.id}}/delete/">Eliminar</a></td>
          </tr>    
        
        {% endfor %}
      </table>
        
    {% else %}
        <p style="color:black;">no hay nada</p>
    {% endif %}
{% endblock contenido %}