<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <!-- Fila de la cabecera -->
        <tr>
          <th><a href="{% url "inicio" %}">paises</a></th> <!-- Celda cabecera de la columna 1 -->
          <th><a href="{% url "departamentos" %}">departamentos</a></th> <!-- Celda cabecera de la columna 2 -->
          <th><a href="{% url "municipios" %}">municipios</a></th> <!-- Celda cabecera de la columna 3 -->
        </tr>
      </table>
{% block contenido %}{% endblock contenido %}    
</body>
</html>